<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjmJWEqkNlWI7svVIvrjcWRTnwe5WL7zs</string>
	<key>GCM_SENDER_ID</key>
	<string>204886346684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDontatingApp</string>
	<key>PROJECT_ID</key>
	<string>blood-donating-app-72b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donating-app-72b0d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204886346684:ios:5bcc2af836d060fe28b9b9</string>
</dict>
</plist>